@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: OpenSans;
}
header, h2, body main{
    padding: 2% 1%;
}
h2{
    padding: 20px 0;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: brown;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    margin: 20px;
}
header nav ul{
    border-left: 1px solid gray;
    display: flex;
}
main{
    padding: 15px 0;
    display: grid;
}
section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
aside{
    border-right: 1px solid gray;
    padding: 0px 15px;
}
article{
    border: 1px solid gray;
    padding: 15px;
    margin: 15px;
}